pandas==1.4.1
numpy = 1.21.4
dash_html_components==2.0.0
dash_core_components==2.0.0
dash_loading_spinners==1.0.0
requests==2.25.1
dash==2.6.0
dash_bootstrap_components==1.2.1
dash_table==5.0.0
espn_api==0.26.1
gunicorn==20.1.0
lxml==4.6.5